.content-container {
  position: relative;
  display: grid;
  grid-template:
    "about" 100vh
    "experience"100vh
    "projects"100vh/auto;
  align-items: center;
  background-color: var(--main-background-color);
  width: 100%;
}

.content-text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.content-text h2 {
  font-size: var(--text-l);
  color: white;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.content-text p {
  font-size: var(--text-m);
}

.content-container p{
  color: white;
  font-weight: 100;
  line-height: 1.25;
}

.about-section {
  display: grid;
  grid-area: about;
  justify-content: center;
}

.experience-section {
  display: grid;
  grid-area: experience;
  justify-content: center;
}

.projects-section {
  display: grid;
  grid-area: projects;
  justify-content: center;
}