.experience-container {
  border: 1px solid rgb(100,116,139,0.1);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.experience-container p {
  font-size: calc(var(--text-m)*0.8);
}

.experience-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
}

.experience-title header {
  font-size: var(--text-m)/2;
  font-weight: 100;
  color: rgb(100,116,139,1);
}

.experience-title span {
  font-size: var(--text-m);
}

.disabled {
  opacity: 0.5;
}


.selected {
  background-color: var(--selected-color);
  cursor: pointer;
}

.selected span {
  color: var(--color-bg2);
}

.selected svg{
  fill: var(--color-bg2);
}

.external-arrow {
  width: 15px;
}
