.jumbotron-container {
   min-height: 50vh;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.jumbotron-copy {
   max-width: 50%;
   margin-right: 48px;
}

.jumbotron-copy h1 {
   font-size: 50px;
}

.jumbotron-copy p {
   font-size: 1.4em;
}