.toggle-container {
    position: absolute;
    z-index: 100;
    left: 20px;
    top: 20px;
    fill: white;
    transition: fill 200ms;
}

.toggle-container:hover {
    fill: grey;
    transition: fill 200ms;
}

.toggle-container #toggleBtn {
    opacity: 0.9;
    width: 35px;
    height: 35px;
}

@media(max-width: 750px) {
    .toggle-container #toggleBtn {
        width: 25px;
        height: 25px;
    }
}