:root {
  font-family: rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.5;
  font-weight: 400;
  --main-background-color: #0d1117;
  --color-bg1: rgba(2,50,128,1);
  --color-bg2: rgba(10,151,220,1);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 200%;
  --blending: hard-light;
  --text-xl: 4rem;
  --text-l: 2.4rem;
  --text-m: 1.48rem;
  --text-s: 0.91rem;
}

body {
  margin: 0;
}