:root {
  font-family: rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.5;
  font-weight: 400;
  /*
    =====================
          COLORS
    =====================
  */
  --main-background-color: #0d1117;
  --selected-color: #292f44;
  --color-bg1: rgba(2,50,128,1);
  --color-bg2: rgba(10,151,220,1);
  --color1: 240, 162, 2;
  --color2: 228, 0, 103;
  --color2-darker: 194, 14, 95;
  --color3: 18, 184, 255;
  --color4: 255, 233, 70;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;

  /*
    =====================
        TEXT-SIZE
    =====================
  */
  --text-xl: 4rem;
  --text-l: 2.4rem;
  --text-m: 1.48rem;
  --text-s: 0.91rem;

  @media(max-width: 800px) {
    --text-xl: 2.5rem;
    --text-l: 1.48rem;
    --text-m: 0.88rem;
    --text-s: 0.55  rem;
  }
  /*
    =====================
          MISC.
    =====================
  */
  --circle-size: 200%;
  --blending: hard-light;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.8em;
  background: var(--main-background-color);
}
body::-webkit-scrollbar-thumb {
  background: rgba(var(--color2));
  height:30px;
  border-radius: 10px;
}

body::-webkit-scrollbar-track-piece
{
  display:none;
}
